<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/css/sweetalert2.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/styles.css?v=1.1" />
    <title>Remote Printing</title>
  </head>
  <body>
    <div class="printing-configs-container">
      <div class="wrapper" id="wrapper">
        <div
          style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%)"
        >
          <header>REMOTE PRINTING TEST</header>
          <form action="#" id="uploadForm">
            <input class="file-input" type="file" name="file" hidden />
            <i class="fas fa-cloud-upload-alt"></i>
            <p>Click or Drag File Here to Upload</p>
          </form>
          <section class="progress-area"></section>
          <section class="uploaded-area"></section>
        </div>
      </div>

      <div class="printing-configs">
        <form id="printForm" class="form-inline" action="/print" method="post">
          <label
            class="form-label"
            style="font-weight: bold;"
            for="format"
          >Format:</label>
          <select class="form-select mb-4" name="format" id="format">
            <option value="A4">A4</option>
            <option value="A3">A3</option>
          </select>

          <label
            class="form-label"
            style="font-weight: bold;"
            for="orientation"
          >Orientation:</label>
          <select class="form-select mb-4" name="orientation" id="orientation">
            <option value="3">Portrait</option>
            <option value="4">Landscape</option>
          </select>

          <label class="form-label" style="font-weight: bold;" for="color">Color
            mode:</label>
          <select class="form-select mb-4" name="color" id="color">
            <option value="True">Full color</option>
            <option value="False">Grayscale</option>
          </select>

          <label
            class="form-label"
            style="font-weight: bold;"
            for="duplex"
          >Double-Sided or One-Sided:</label>
          <select class="form-select mb-4" name="duplex" id="duplex">
            <option value="2Sided">Duplex (Double-Sided)</option>
            <option value="1Sided">Simplex (One-Sided)</option>
          </select>

          <label
            class="form-label"
            style="font-weight: bold;"
            for="copies"
          >Number of copies:</label>
          <input
            class="form-control mb-4"
            type="number"
            name="copies"
            id="copies"
            min="1"
            max="100"
            step="1"
            value="1"
          />
          <input
            type="text"
            name="fileName"
            id="fileName"
            readonly=""
            hidden=""
          />

          <button class="btn btn-primary" type="button" id="print-button">
            Print!
          </button>

        </form>
      </div>
    </div>
    <script src="/assets/js/axios.min.js"></script>
    <script src="/assets/js/sweetalert2.js"></script>
    <script src="/helpers/xhr2FileUpload.js?v=1.1"></script>
    <script src="/helpers/printdocs.js?v=1.1"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>